tr.bg-danger {
    color: aqua
}
tr.bg-warning{
    color:brown
}
tr.bg-success{
    color:yellow
}

.bg-dark {
    background-color: #282A35 !important;
}
.navbar-dark .navbar-nav .nav-link{
    color:white;
    font-size: larger;
    font-weight: 600;
}
.navbar{
    padding: 0;
}
.dropdown-menu.show{
    z-index: 8888888888;
}

.nav-item.active {
    background-color: #04AA6D;
}