html{
    scroll-behavior: smooth;
}
@media (min-height : 300px){
    #bar ul{
        position:sticky;
        top:0
    }
}
#bar .navbar-nav .nav-item .nav-link{
    display:block;
    padding: 0;
}
tr.bg-danger {
    color: aqua
}
tr.bg-warning{
    color:brown
}
tr.bg-success{
    color:yellow
}

.bg-dark {
    background-color: #282A35 !important;
}
.navbar-dark .navbar-nav .nav-link{
    color:white;
    font-size: larger;
    font-weight: 600;
}
.navbar-dark .navbar-nav .nav-item:hover{
    font-weight: 600;
    background-color: #111116;
    color:white;
}
.navbar-dark .navbar-nav .nav-item:hover .nav-link{
    font-weight: 600;
    background-color: #111116;
    color:white;
}
.navbar{
    padding: 0;
}
.dropdown-menu.show{
    z-index: 500000;
}
.bg-warning{
    background-color: #FEFFCB !important; 
}


#bar .nav-link {
    color:black;
    padding:0;
    font-size:15px;
}
#bar .nav-link:hover{
    color:black;
    display:block;
    background-color: #CCCC;
    padding:0;
}
#bar .nav-link:active{
    color:rgb(255, 255, 255);
    padding:0;
    background-color: #04AA6D;
}

#bar .nav-link.active {
    color:rgb(255, 255, 255);
    padding:0;
    background-color: #04AA6D;
}